{%- if test == "babbles" %}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure on {{ hostname }} because on {{ interface }} due to {{ failed_interface }} babbles",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} {{ interface }} due to {{ failed_interface}} babbles",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Babbles",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ failure }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Interface command on {{ hostname }} transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20interface.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- else %}
{%- if test == "bad_eth" %}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure because on {{ hostname }} {{ interface }} due to {{ failed_interface }} bad ethernet",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} {{ interface }} due to {{ failed_interface}} bad ethernet",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Bad Ethernet",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ failure }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Interface on {{ hostname }} command transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20interface.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- else %}
{%- if test == "bad_protocol" %}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure because on {{ hostname }} {{ interface }} due to {{ failed_interface }} bad protocol",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} {{ interface }} due to {{ failed_interface}} bad protocol",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Bad Protocol",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ failure }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Interface command on {{ hostname }} transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20interface.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- else %}
{%- if test == "collisions" %}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure because on {{ hostname }} {{ interface }} due to {{ failed_interface }} collisions",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} {{ interface }} due to {{ failed_interface}} collisions",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Collisions",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ failure }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Interface command on {{ hostname }} transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20interface.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- else %}
{%- if test == "crc" %}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure because on {{ hostname }} {{ interface }} due to {{ failed_interface }} CRCs",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} {{ interface }} due to {{ failed_interface}} CRCs",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "CRCs",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ failure }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Interface command on {{ hostname }} transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20interface.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- else %}
{%- if test == "dribble" %}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure because on {{ hostname }} {{ interface }} due to {{ failed_interface }} dribble",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} {{ interface }} due to {{ failed_interface}} dribble",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Dribble",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ failure }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Interface command on {{ hostname }} transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20interface.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- else %}
{%- if test == "duplex" %}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure because on {{ hostname }} {{ interface }} due to {{ failed_interface }} half duplex",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} {{ interface }} due to {{ failed_interface}} half duplex",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Duplex",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ failure }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Interface command on {{ hostname }} transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20interface.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- else %}
{%- if test == "ignored" %}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure because on {{ hostname }} {{ interface }} due to {{ failed_interface }} ignored",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} {{ interface }} due to {{ failed_interface}} ignored",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Ignored",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ failure }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Interface command on {{ hostname }} transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20interface.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- else %}
{%- if test == "down_if_drops" %}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure because on {{ hostname }} {{ interface }} due to {{ failed_interface }} down interface drops",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} {{ interface }} due to {{ failed_interface}} down interface drops",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Down Interface Drops",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ failure }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Interface command on {{ hostname }} transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20interface.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- else %}
{%- if test == "down_if_drops" %}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure because on {{ hostname }} {{ interface }} due to {{ failed_interface }} input discards",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} {{ interface }} due to {{ failed_interface}} input discards",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Input Discards",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ failure }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Interface command on {{ hostname }} transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20interface.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- else %}
{%- if test == "state"%}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure on {{ hostname }} because on {{ interface }} {{ failure }}",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} interface {{ interface }} {{ failed_interface}}",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ interface }}",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 60,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ failure }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Interface command on {{ hostname }} transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20interface.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}