{%- if test == "nxos"%}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure on {{ hostname }} because the NXOS version is {{ version }}",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} because the NXOS version is {{ version }}",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "NXOS Version",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 60,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ version }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Version command on {{ hostname }} transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20version.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- else %}
{%- if test == "kickstart"%}
{
  "roomId": "{{ roomid }}",
  "markdown": "# nxpydocs has detected a failure on {{ hostname }} because the Kickstart version is {{ version }}",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.0",
        "body": [
            {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "Image",
                            "url": "https://devnetdan.files.wordpress.com/2021/05/pronounce-pyats.jpeg"
                        }
                    ],
                    "width": "stretch"
                },
                {
                    "type": "Column",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "nxpydocs tests",
                            "weight": "lighter",
                            "color": "accent"
                        },
                        {
                            "type": "TextBlock",
                            "weight": "Bolder",
                            "text": "Webex from nxpydocs tests due to a failure on {{ hostname }} because the Kickstart version is {{ version }}",
                            "horizontalAlignment": "Left",
                            "wrap": true,
                            "color": "Light",
                            "size": "Large",
                            "spacing": "Small"
                        }
                    ],
                    "width": "stretch"
                }
            ]
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": 25,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "Hostname",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "Kickstart",
                            "color": "Light"
                        }
                    ]
                },
                {
                    "type": "Column",
                    "width": 60,
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "{{ hostname }}",
                            "color": "Light"
                        },
                        {
                            "type": "TextBlock",
                            "text": "{{ version }}",
                            "color": "Light"
                        }
                    ]
                }
            ],
            "spacing": "Padding",
            "horizontalAlignment": "Center"
        },
        {
            "type": "TextBlock",
            "text": "This data comes from the Show Version command on {{ hostname }} transformed into JSON and tested with pyATS",
            "wrap": true
        },
        {
            "type": "TextBlock",
            "text": "Resources:"
        },
        {
            "type": "ColumnSet",
            "columns": [
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "Image",
                            "altText": "",
                            "url": "https://developer.webex.com/images/link-icon.png",
                            "size": "Small",
                            "width": "30px"
                        }
                    ],
                    "spacing": "Small"
                },
                {
                    "type": "Column",
                    "width": "auto",
                    "items": [
                        {
                            "type": "TextBlock",
                            "text": "[GitHub Repository Raw JSON](https://github.com/automateyournetwork/nxpydocs_output/blob/main/JSON/switch%20show%20version.json)",
                            "horizontalAlignment": "Left",
                            "size": "Medium"
                        }
                    ],
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "spacing": "Small"
                    }                           
            ]
            }                
        ],
          "actions": [
            {
              "type": "Action.OpenUrl",
              "url": "https://youtu.be/rPY3oTIaEM0",
              "title": "Watch the development of this functionality on YouTube"
            }
          ]        
        }
        }
    ]
}
{%- endif %}{%- endif %}